.btn{
    width:100% !important;
    border-radius: 0px;
}

.centered{
    width:100%;
    max-width:300px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-bottom:15px;
}
ul{
    list-style:none;
    list-style-type:none;
}
